html {
  font-size: 24px;
}

body {
  color: #653508;
  background-color: #f5f0e6;
  font-family: 'Fern Web', system-ui, serif;
  margin: 0;
  width: 100vw;
  overflow-x: hidden;
}

section,
header {
  margin: auto;
  padding: 1em;
  max-width: 800px;
}

header {
  display: flex;
  justify-content: space-around;
  font-family: system-ui, -apple-system, "San Francisco", "Helvetica Neue", BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

header aside {
  font-size: min(1em, 5vw);
  text-align: center;
  font-weight: 700;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  margin: auto;
  padding: 0.3em 0;
  border: 3px #653508;
  border-top-style: solid;
  border-bottom-style: solid;
}

header .logo {
  align-self: center;
  max-height: 12rem;
  object-fit: contain;
  margin: 1em;
}

#letter p {
  text-align: justify;
  hyphens: auto;
  -webkit-hyphens: auto;
}

h1, h2, h3 {
  font-weight: normal;
  margin: 28px 0;
}

h1 {
  font-family: 'Crayonette DJR', cursive;
  text-align: center;
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
  margin-top: 2rem;
}

h3 {
  font-size: 1rem;
  font-weight: bold;
}

small {
  /* all small caps */
  text-transform: lowercase;
  font-variant: small-caps;
}

.number {
  margin-bottom: 0;
}

.number + p {
  margin-top: 0;
}

section#colophon {
  text-align: center;
}

figure {
  margin: 0;
}

figure + figure {
  margin-left: 1em;
}

figure img {
  width: 100%;
  border-radius: 1em;
}

figure figcaption {
  padding: 0 1em;
  font-size: 0.7em;
  text-transform: lowercase;
  font-variant: small-caps;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

figcaption.date {
  font-style: italic;
}

@media screen and (max-width: 800px) {
  /* see also above for .carousell (keeping with its calc()-heavy styles) */
  html {
    font-size: 20px;
  }

  header aside {
    font-weight: 500;
    border-width: 2px;
  }

  section,
  header {
    padding: 0 1em;
  }

  h1, h2, h3 {
    margin: 18px 0;
  }

  h1 {
    font-size: 2.5rem;
  }

  h2 {
    font-size: 1.5rem;
    margin-top: 32px;
  }

  .links {
    text-align: center;
  }
}

@media screen and (max-width: 350px) {
  header {
    flex-direction: column;
  }

  header aside {
    box-sizing: border-box;
    width: 100%;
    padding: 1em 3em;
  }

  h1, h2, h3, p {
    hyphens: auto;
    -webkit-hyphens: auto;
  }
}

a {
  color: inherit;
  font-weight: 600;
  text-decoration-color: #dccccc;
  text-decoration-thickness: 2px;
}

a:hover {
  text-decoration-color: currentColor;
}

.special {
  /* holiday cheer */
  color: #df2021 !important;
  text-decoration-color: #df2021;
}

/* ğ“™ğ“ªğ“¬ğ“¸ğ“« ğ“•ğ“¸ğ“»ğ“­, 2021 */
